.h1{
	color: white;
}

.separador{
	position: relative;
	background-color: black;
	height: 30em;
}

.containerCenter{
	background-color: blue;
	width: 70%;
	height: 60em;
	margin: 18em 0em 3em 0em;
	position: absolute;
	left: 16%;
	display: flex;
    align-items: center;
    flex-direction: column;
}

.img{
	height: 14em;
	width: 20em;
	border-radius: 100%;
	position: absolute;
	top: 1em;
	right: 1em;
}

.containerNav{
	display: flex;
	justify-content: center;
}

.test {
	margin: 10em 0em;
}