.container {
    margin: 5em 4em 0em 4em;
    text-align: center;
}

.divScroll {
    margin-top: 0rem;
}

.divTitle {
    margin-bottom: 3rem;
}

.divImg {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.divImg img{
    width: 5rem;
    object-fit: contain;
    margin: auto;
}

.extra {
    width: 7rem;
    height: 3rem;
    position: relative;
}
.iconLargo {
    position: absolute;
    top: -2rem;
}

.divInfo {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.frontBack {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.erramientasYBaseDeDatos {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.frontEnd {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.backEnd {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.baseDeDatos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.erramientas {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}
