.container {
    margin: 5em 4em 0em 4em;
    text-align: center;
}

.divScroll {
    margin-top: 0rem;
}

.divTitle {
    margin-bottom: 3rem;
}
.borderBottom {
    width: 12rem;
    height: 0.5rem;
    margin: 0.5rem auto auto auto;
    border-radius: 2rem;
    background-color: #4c0070;
}

.divImg {
    width: 5.5rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.divImg img{
    width: 5rem;
    object-fit: contain;
    margin: auto;
}

.extra {
    width: 7rem;
    height: 5rem;
    position: relative;
}
.iconLargo {
    position: absolute;
    top: -2rem;
}
.express {
    margin-top: 3rem;
}

.divInfo {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.frontBack {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.herramientasYBaseDeDatos {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.frontEnd {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.backEnd {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.baseDeDatos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.herramientas {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

/* @media (min-width: 395px) {

} */
