@media (min-width: 900px) {
    
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        display: flex;
        justify-content: space-evenly;
    }
}

.container {
    margin-top: 7em;
    margin-bottom: 4em;
}

.proyectos {
    margin-left: 2em;
}

.cards {
    margin-top: 1em;
}

.proyectos {
    margin-bottom: 7rem
}

@media (max-width: 650px) {

    .proyectos {
        text-align: center;
        margin-left: 0px;
    }
}