@media (min-width: 900px) {
    
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        display: flex;
        justify-content: space-evenly;
    }
}

.container {
    margin-top: 3em;
    padding-bottom: 3rem;
    text-align: center;
    background-color: #2B2B2B;
}

.cards {
    margin-top: 1em;
}

.proyectos {
    margin-bottom: 4rem
}

@media (max-width: 650px) {

    .proyectos {
        text-align: center;
        margin-left: 0px;
    }
}